

div {
	outline: 0px dotted red;
}

/*HEADER*/


@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 360px) and (max-width: 768px) {

}

@media screen and (min-width: 320px) and (max-width: 360px) {

}
/*./HEADER*/

/*CONTENT*/
.navbar-dark .navbar-brand, 
.navbar-dark .navbar-brand:focus, 
.navbar-dark .navbar-brand:hover {
    color: orange;
}

.container-fluid form, .card-header, .card-body {
	width: 100%;
}

.card-header {
	color: darkblue;
}

.input-group.radio .input-group-prepend {
	margin: 0 0;
}

.sub-border {
	width: 100%;
	border: 1px solid gray;
	padding: 1.25rem;
	margin-bottom: 1.25rem;
	border-radius: 5px;
}

/*application-add-to-register*/
/*./application-add-to-register*/

/*info-contragent*/
.info-contragent span.success {
	display: block;
	margin-bottom: 1.25rem;
}
/*./info-contragent*/

/*register*/
.card-body.pagination {
	justify-content: space-between;
	padding-left: 1.25rem;
}

.register-table .table td, 
.register-table .table th {
    padding: .15rem;
    padding-left: 0.5rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.register-table .table td.crud-form {
	width: 8.5%;
}

.register-table .table td.crud-form div.form-wrapper form {
	display: inline;
}
/*./register*/

/*login*/
.main.login {
	background-image: url(../img/silhouette.jpg);
	background-repeat: repeat-x;
	background-position: middle;
}

.main.login .login-wrapper {
	margin-top: 150px;
}

.main.login .login-wrapper a {
  	color: lightgray;
}

.main.login .login-wrapper h2 {
	color: #343a40;
	margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

.main.login .login-wrapper .card-header {
    margin-bottom: 1rem;
}

.main.login .login-wrapper input[type=button],
.main.login .login-wrapper input[type=submit], 
.main.login .login-wrapper input[type=reset]  {
  	background-color: #5a6268;
  	color: orange;
}

.main.login .login-wrapper input[type=button]:hover, 
.main.login .login-wrapper input[type=submit]:hover, 
.main.login .login-wrapper input[type=reset]:hover  {
 	background-color: #343a40;
}

.main.login .login-wrapper input[type=text]:focus, 
.main.login .login-wrapper input[type=email]:focus,
.main.login .login-wrapper input[type=password]:focus {
 	background-color: #fff;
	border-bottom: 2px solid orange;
}

.main.login .login-wrapper .underlineHover:hover {
  	color: #343a40;
}

.main.login .login-wrapper .underlineHover:after {
  	background-color: orange;
  	content: "";
  	transition: width 0.2s;
}
/*./login*/

/*./CONTENT*/

/*FOOTER*/
footer {

}

/*./FOOTER*/

/*MISC*/

/*form outline*/
form > input:focus, form > textarea:focus, button:focus {
	outline: none;
	border: 1px solid #632832;
}
/*.*form outline*/

.padding-l0-r0 {
	padding-left: 0px;
	padding-right: 0px;
}

.padding-l-10 {
	padding-left: 10px;
}

.padding-r-10 {
	padding-right: 10px;
}

.padding-0-0 {
	padding: 0 0;
}

.margin-l-10 {
	margin-left: 10px;
}

.margin-r-10 {
	margin-right: 10px;
}

.margin-0-0 {
	margin: 0 0;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.4)
}

/*form-validation*/
.input:invalid, input.invalid, .input-group.invalid input {
	border: 1px solid red;
	border-radius: 5px;
}

span.error {
	color: red;
	font-weight: bold;
}

span.success {
	color: green;
	font-weight: bold;
}
/*./form-validation*/

/*floats*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-both {
	clear: both;
}
/*./floats*/

/*flex*/
.flex-start {
	align-self: flex-start;
}

.flex-end {
	justify-content: flex-end;
}
/*./flex*/
/*./MISC*/